:root{
    --ff1:'Poppins', sans-serif;
    --bacg:#ebebea;
    --co1:#040101;
    --co2:#ffff00;
    --co3:#0e90ed;
    --co4:#504b4b;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style: none;
}

.container{
    width: 1170px;
    margin: auto;
}


.head{
    color: var(--co1);
    font-size: 50px;  
    text-transform: capitalize;
}

.para{
    color: var(--co4);
    font-size: 17px;
}
/*================== 
    common css ends
====================*/

.bacg{
    background: var(--bacg);
}

/*================== 
    color css ends
====================*/

.pop-bold{
    font-family: var(--ff1);
    font-weight: 700;
}

.pop-lig{
    font-family: var(--ff1);
    font-weight: 300;
}

.pop-med{
    font-family: var(--ff1);
    font-weight: 500;
}

.pop-reg{
    font-family: var(--ff1);
    font-weight: 400;
}

/*================== 
    fonts css ends
====================*/

.btn{
    width: 215px;
    height: 75px;
    line-height: 75px;
    color: #ffff;
    background: var(--co3);
    text-transform: uppercase;
    font-size: 20px;
}

/*================== 
    btn css ends
====================*/
nav{
    position: absolute;
    width: 100%;
}

.nav-fix{
    background: var(--bacg);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
}

nav .manu{
    height: 122px;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .manu .manu-logo{
    margin-left: 50px;
}

nav .manu .manu-list{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

nav .manu .manu-list button{
    border: none;
    background: var(--co3);
    text-transform: capitalize;
    color: white;
    width: 118px;
    height: 41px;
    line-height:41px;
    font-size: 17px;
    margin: 0 30px;
    cursor: pointer;
    transition: all linear 0.3s;
}

nav .manu .manu-list button:hover{
    color:var(--co1);
    background: #2222;
}

nav .manu .manu-list i{
    font-size: 34px;
    color: var(--co1);
}

nav .manu .manu-list .bars{
    color: var(--co3);
}

/*============
    nav ends
==============*/
section{
    height: 938px;
    background:var(--bacg)
}

section .banner{
    height: 100%;
    /* background: violet; */
    display: flex;
}

section .banner .banner-text {
	width: 44%;
	height: 845px;
	/* background: green; */
	box-sizing: border-box;
	padding-left: 164px;
}

section .banner .banner-text h6{
    width: 400px;
    font-size: 100px;
    text-transform: capitalize;
    margin-top: 205px;
}

section .banner .banner-text h6 span{
    color: var(--co3);
}

section .banner .banner-text p{
    text-transform: capitalize;
    color: var(--co1);
    font-size: 22px;
}

section .banner .banner-text p span{
    display: block;
}

section .banner .banner-text button {
	border: none;
	margin-top: 46px;
    cursor: pointer;
    border-radius: 8px;
    transition: all linear 0.3s;
}

section .banner .banner-text button:hover{
    color:var(--co1);
    background: #2222;
}

section .banner .banner-img {
	width: 56%;
	height: 845px;
	/* background: chocolate; */
	display: flex;
	align-items: flex-end;
}

section .banner .banner-img .bic{
    width: 534px;
    height: 500px;
    background: var(--co2);
    position: relative;
}

section .banner .banner-img .bic img {
	position: absolute;
	left: -160px;
	bottom: 0;
}

/*================== 
    banner css ends
====================*/
.about-bg{
    background: url(../images/about.jpg)no-repeat center / cover;
    display: flex;
    justify-content: flex-end;
}

.about-bg .about-text{
	width: 655px;
	height: 938px;
	margin-right: 116px;
    text-align: right;
}

.about-bg .about-text h6 {
	margin-right: 113px;
    margin-top: 300px;
}

.about-bg .about-text p{
	width: 543px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 40px;
}

.about-bg .about-text button{
	border: none;
	margin-top: 46px;
    margin-right: 113px;
    cursor: pointer;
    border-radius: 8px;
    transition: all linear 0.3s;
}

.about-bg .about-text button:hover{
    color:var(--co3);
    background:var(--bacg);
}

/*==============
    about ends
===============*/
.bird-bg{
    height: 1254px;
    background: var(--bacg);
}

.bird-bg .bird{
    width: 1067px;
    height: 1254px;
    margin: auto;
    position: relative;
}

.bird-bg .bird h6{
    padding-top: 60px;
}

.bird-bg .bird p {
	width: 598px;
    margin-top: 40px;
    padding-bottom: 35px;
}

.bird-bg .bird button{
    position: absolute;
    bottom: 0;
    right: 0;
	border: none;
	margin-top: 46px;
    margin-right: 113px;
    cursor: pointer;
    border-radius: 8px;
    transition: all linear 0.3s;
}

.bird-bg .bird button:hover{
    color:var(--co3);
    background:#2222;
}

.bird-bg .bird .bird-img {
	height: 1026px;
	position: relative;
    margin-top: 70px;
}

.bird-bg .bird .bird-img .bird-item1 {
	width: 576px;
	height: 420px;
	float: left;
	clear: both;
}

.bird-bg .bird .bird-img .bird-item1 img{
    width: 100%;
}

.bird-bg .bird .bird-img .bird-item2 {
	width: 491px;
	height: 461px;
	float: left;
	clear: both;
	position: absolute;
	right: 0;
	top: -60px;
}

.bird-bg .bird .bird-img .bird-item2 img{
    width: 100%;
}

.bird-bg .bird .bird-img .bird-item3 {
	width: 491px;
	height: 462px;
	float: left;
	clear: both;
}

.bird-bg .bird .bird-img .bird-item3 img{
    width: 100%;
}

.bird-bg .bird .bird-img .bird-item4 {
	width: 576px;
	height: 430px;
	float: left;
	clear: both;
	position: absolute;
	bottom: 267px;
	right: 0;
}

.bird-bg .bird .bird-img .bird-item4 img{
    width: 100%;
}

/*================ 
    our bird ends 
==================*/

.testimonial-bg{
    background:var(--bacg) ;
    height: 814px;
}

.testimonial-bg .testimonial{
    width: 1024px;
    height: 814px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

.testimonial-bg .testimonial h6{
    text-align: right;
    padding-top: 70px;
}

.testimonial-bg .testimonial .grp {
	text-align: right;
	padding-top: 25px;
	width: 922px;
	position: relative;
	right: -100px;
}

.testimonial-bg .testimonial .test-row1 {
	width: 611px;
	height: 304px;
	background: #ffffff;
	margin-top: 40px;
	float: left;
	position: absolute;
	bottom: 147px;
	left: 0;
}

.testimonial-bg .testimonial .test-row1 .fas {
    border: none;
	position: relative;
	left: 46%;
	bottom: -90px;
}

.testimonial-bg .testimonial .test-row1 .circle1,.circle3{
   color:#00aeef ;
}

.testimonial-bg .testimonial .test-row1 img {
	width: 301px;
	display: block;
	margin: auto;
	margin-top: -101px;
}

.testimonial-bg .testimonial .test-row1 h6{
    text-align: center;
    text-transform: capitalize;
    color: var(--co4);
    font-size: 22px;
    padding-top: 10px;
}

.testimonial-bg .testimonial .test-row1 span{
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    padding-bottom: 12px;
}

.testimonial-bg .testimonial .test-row1 p {
	padding: 0px 76px;
}

.testimonial-bg .testimonial .test-row2 {
	width: 413px;
	height: 495px;
	margin-top: 40px;
	float: left;
	position: absolute;
	bottom: 56px;
	right: 0;
}

.testimonial-bg .testimonial .test-row2 img {
	filter: hue-rotate(130deg);
    position: relative;
    z-index: 111;
}

.testimonial-bg .testimonial .test-row2 .showo {
	width: 400px;
	position: relative;
	bottom: 28%;
	right: -40px;
	box-shadow: -4px 6px 8px 3px rgba(4, 1, 1, 0.5);
}

/*=================== 
    testimonial ends
=====================*/
.news-bg{
    height: 317px;
    background: var(--bacg);
}

.news-bg .news{
    height: 317px;
    width: 1024px;
    margin: auto;
}

.news-bg .news p {
	padding-right: 102px;
}

.news-bg .news input {
	width: 807px;
	height: 79px;
	background: #fcfcfc;
	border: 1px solid var(--co4);
	outline: none;
	padding: 0px 20px;
	text-transform: capitalize;
	color: #777676;
	font-size: 17px;
	margin-top: 30px;
}

.news-bg .news button {
	width: 175px;
	height: 80px;
	background: var(--co3);
	color: var(--bacg);
	text-transform: uppercase;
	font-size: 17px;
	border: 1px solid var(--co4);
	cursor: pointer;
	margin-left: -5px;
}

/*============= 
    news ends
===============*/
.contact-bg{
    height: 606px;
    background: var(--bacg);
}

.contact-bg .contact{
    width: 1024px;
    height: 606px;
    margin: auto;
    display: flex;
    position: relative;
}

.contact-bg .contact::after{
    content: '';
    width: 1000px;
    height: 1px;
    background: var(--co3);
    position: absolute;
    bottom: 20px;
    margin: 0px 12px;
}

.contact-bg .contact .contact-row1{
    width: 500px;
    height: 540px;
}

.contact-bg .contact .contact-row1 img{
    width: 100%;
}

.contact-bg .contact .contact-row2{
    width: 524px;
    height: 540px;
}

.contact-bg .contact .contact-row2 h6{
    text-align: right;
    text-transform: capitalize;
}

.contact-bg .contact .contact-row2 input {
	width: 460px;
	height: 63px;
	background-color: #ffffff;
    color: var(--co4);
    float: right;
    outline: none;
    padding: 0 20px;
    text-transform: capitalize;
    border: 1px solid var(--co4);
    margin-bottom: 20px;
}

.contact-bg .contact .contact-row2 .sml{
    width: 195px;
    height: 63px;
}

.contact-bg .contact .contact-row2 input:nth-last-of-type(2) {
	margin-right: 28px;
}

.contact-bg .contact .contact-row2 .mess{
    height: 109px;
}

.contact-bg .contact .contact-row2 button {
	width: 180px;
	height: 70px;
	background: var(--co3);
	color: var(--co1);
	text-transform: uppercase;
	font-size: 20px;
	border: 1px solid var(--co4);
	float: right;
	margin-top: 20px;
	cursor: pointer;
	transition: all linear 0.3s;
}

.contact-bg .contact .contact-row2 button:hover{
    color: var(--co3);
    background: #2222;
}

/*================= 
    contact ends
==================*/
.footer-bg{
    height: 350px;
    background:var(--bacg);
}

.footer-bg .footer{
    height: 350px;
    width: 1024px;
    margin: auto;
}

.footer-bg .footer .footer-logo{
    width: 100%;
    height: 108px;
    text-align: center;
}


.footer-bg .footer .footer-text{
    width: 100%;
    height: 102px;
    display: flex;
}

.footer-bg .footer .footer-text .text-row1{
    width: 342px;
    height: 100%;
}

.footer-bg .footer .footer-text .text-row1 h6{
    font-size: 30px;
    color: #02111c;
    text-transform: capitalize;
}

.footer-bg .footer .footer-text .text-row1 p{
    font-size: 17px;
    color: #040000;
}

.footer-bg .footer .footer-text .text-row2{
    width: 342px;
    height: 100%;
}

.footer-bg .footer .footer-text .text-row2 h6{
    font-size: 30px;
    color: #02111c;
    text-transform: capitalize;
}

.footer-bg .footer .footer-text .text-row2 p{
    font-size: 17px;
    color: #040000;
    margin-top: 2px;
}

.footer-bg .footer .footer-text .text-row3{
    width: 342px;
    height: 100%;
}

.footer-bg .footer .footer-text .text-row3 h6{
    font-size: 30px;
    color: #02111c;
    text-transform: capitalize;
}

.footer-bg .footer .footer-text .text-row3 p{
    font-size: 17px;
    color: #040000;
    margin-top: 2px;
}

.footer-bg .footer .footer-icon{
    width: 100%;
    height: 90px;
    text-align: center;
}

.footer-bg .footer .footer-icon a {
    width: 30px;
    height: 30px;
    line-height: 90px;
    color: var(--co3);
    border: 1px solid var(--co3);
    text-align: center;
    border-radius: 50%;
    padding: 10px 13px;
    margin-right: 8px;
    transition: all linear 0.3s;
}

.footer-bg .footer .footer-icon a:hover{
    color: var(--co4);
    border:1px solid var(--co1);
}

.footer-bg .footer .footer-end{
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer-bg .footer .footer-end span{
    text-transform: capitalize;
    color: var(--co4);
    line-height: 50px;
    position: relative;
    display: block;
}

.footer-bg .footer .footer-end span::before{
    content: '';
    width: 950px;
    height: 1px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*===============
    footer ends
==================*/
.scroll-top{
    width: 32px;
    height: 32px;
    background: var(--co3);
    position: fixed;
    right: 25px;
    bottom: 40px;
    display: none;
    text-align: center;
    border-radius: 50%;
    color: #ffff;
    cursor: pointer;
    animation: up-down linear infinite alternate 2s;
}

@keyframes up-down{
    0%{
        bottom: 10px;
    }

    50%{
        bottom: 25px;
    }

    100%{
        bottom: 40px;
    }
}

.scroll-top i{
    font-size: 18px;
    margin-top: 6px;
}
/*============================== 
    bottom to top button ends
===============================*/